@import "../../../styles/responsive.mixins.scss";
.welcome-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-msg {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.welcome-text {
  width: 70%;
  border-radius: 10%;
  color: rgb(6, 7, 5);
  font-size: 30px;
  align-self: flex-start;
  background-color: red;
  -ms-transform: rotateY(20deg);
  transform: rotate(5deg);
  @include respond-to("sm") {
    font-size: 30px;
    width: 40%;
  }
  @include respond-to("md") {
    font-size: 40px;
    width: 40%;
  }

  @include respond-to("lg") {
    font-size: 55px;
    width: 40%;
  }
}
.welcome-text1 {
  width: 100%;
  margin-top: 10px;
  background-color: rgb(206, 219, 17);
  font-weight: bold;
  font-size: 20px;
  animation: Welcome 5s infinite;
  @include respond-to("sm") {
    font-size: 40px;
  }
  @include respond-to("md") {
    font-size: 40px;
  }
  @include respond-to("lg") {
    font-size: 40px;
  }
}

@keyframes Welcome {
  0% {
    color: rgb(228, 231, 35);
  }
  25% {
    color: rgb(233, 18, 18);
  }
  50% {
    color: rgb(14, 21, 119);
  }
  100% {
    color: rgb(211, 39, 154);
  }
}
.welcome-image-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-image {
  width: 70%;
  height: 300px;
}
