@import "../../../styles/responsive.mixins.scss";
.container {
  height: 300px;
}
.card {
  align-items: center;
  width: 100%;
}
.desc-input {
  margin-left: 40px;
}
.btn-back {
  background-color: goldenrod;
}
