<form #recipeForm="ngForm" (ngSubmit)="editRecipe()">
  <div class="container">
    <div class="card">
      <div class="edit-title">
        <h1>Edit Recipe</h1>
      </div>
      <div class="recepie form-group">
        <label class="label" for="name">Recipe Name</label>
        <input
          type="text"
          class="form-control input-field"
          id="name"
          required
          [(ngModel)]="recipe.name"
          name="name"
        />
      </div>
      <div class="recepie form-group">
        <label class="label" for="photo">Recipe photo</label>
        <input
          type="text"
          class="form-control input-field"
          id="photo"
          required
          [(ngModel)]="recipe.photo"
          name="photo"
        />
      </div>
      <div class="recepie form-group">
        <label class="label " for="description">Description</label>
        <input
          type="text"
          class="form-control input-field desc-input"
          id="description"
          required
          [(ngModel)]="recipe.description"
          name="description"
        />
      </div>
      <div class="action-buttons">
        <button class="action-button" type="submit">Save</button>
        <button class="action-button btn-back" type="submit">Back</button>
      </div>
    </div>
  </div>
</form>
