@import "../../../styles/responsive.mixins.scss";
.container {
  height: 400px;
}
.card {
  padding: 10px;
  @include respond-to("sm") {
    width: 95%;
    height: 300px;
  }
  @include respond-to("md") {
    width: 95%;
  }
  @include respond-to("lg") {
    width: 95%;
  }
}
