@import "../../../styles/responsive.mixins.scss";

.container {
  height: 350px;
}
.createForm-title {
  font-size: 10px;
  @include respond-to("md") {
    font-size: 15px;
  }
  @include respond-to("lg") {
    font-size: 25px;
  }
}
