@import "../../../assets/styles/responsive.mixins.scss";

.container {
  border: 1px solid green;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  background: yellowgreen;
  @include respond-to("sm") {
  }
  @include respond-to("md") {
  }
  @include respond-to("lg") {
  }
}
.recepie {
  padding: 10px;
  @include respond-to("sm") {
  }
  @include respond-to("md") {
  }
  @include respond-to("lg") {
  }
}
.name {
  margin-left: 15px;
}
.submit {
  color: white;
  font-size: 20px;
}
