@import "../../../styles/responsive.mixins.scss";

.container {
  height: 350px;
}
.createForm-title {
  font-size: 10px;
  @include respond-to("md") {
    font-size: 15px;
  }
  @include respond-to("lg") {
    font-size: 20px;
  }
}
.card {
  padding: 10px;
  @include respond-to("sm") {
    width: 95%;
    height: 300px;
  }
  @include respond-to("md") {
    width: 95%;
  }
  @include respond-to("lg") {
    width: 95%;
  }
}
.action-buttons {
  margin-top: 10px;
}
.desc-input {
  margin-left: 35px;
}
