<div class="container">
  <div class="card " *ngFor="let recipe of recipies">
    <div class="card-heading">
      <h3 class="card-title">{{ recipe.name }}</h3>
    </div>

    <div class="card-image">
      <img class="image" [src]="recipe.photo" />
    </div>

    <div class="card-description">
      <h5 class="description">{{ recipe.description }}</h5>
    </div>
    <!-- Action Buttons -->

    <div class="action-buttons">
      <button class="action-button" type="submit" (click)="editRecipe(recipe)">
        Edit
      </button>

      <div class="action-buttons">
        <button
          class="action-button button-color"
          type="submit"
          (click)="deleteRecipe(recipe)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
